[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "flowmapblue"]
	path = flowmapblue
	url = https://github.com/flowmapblue/flowmapblue.r
